.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.chart-container {
  position: absolute;
  margin: auto;
  height: 30vh;
  width: 30vw;
  top: 6%;
  left: 34%;
}

.chart-container2 {
  position: absolute;
  margin: auto;
  height: 50vh;
  width: 50vw;
  top: 17%;
  left: 24%;
}

.userInput {
  position: absolute;
  top: 70%;
  left: 44%;
}

.homeScreen {
  position: absolute;
  top: 18%;
  left: 39%;
}

.lowerBar {
  position: absolute;
  top: 73%;
  left: 34.5%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
